.input{
    // box-model
    width: 400px;
    height: 50px;
    margin: 30px auto;
    margin-bottom: 20px;
    //position
    position: relative;
    //border

    // overflow: hidden;
    //font
    font-size: 1.2rem;
    i{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%)
    }

    input{
        /*box model*/
        width: 100%;
        height: 100%;
        padding: 10px 15px 10px 40px;
        border-radius: 5px;

        //font
        font-size: 1.2rem;
    }    
}

