.container {
    width: 100%;
    padding: 0 100px;
    margin: 20px 0;

    .location-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .content {
        width: 100%;
        padding: 20px 0px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        .main-content,.sub-content{
            padding: 20px 40px;

            border: 2px solid #ddd;
            border-radius: 10px;
        }

        .main-content {
            width: 30%;

            display: flex;
            align-items: center;

            .icon {
                width: 130px;
                height: 130px;

                border-radius: 50%;
                overflow: hidden;
            }

            .text {
                padding-left: 15px;

                .temperature {
                    font-size: 2rem;
                }
            }
        }

        .sub-content {
            width: 50%;

            .box {
                .in-day-stat {
                    min-width: 100px;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .container{
        padding: 0 60px;
    }
}