.carousel{
  width: 80%;
  height: 100%;
  margin: 0 auto;

  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: relative;
  
  .prev,
  .next{
    font-size: 2rem;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
  }

  .prev{
    left: 0;
  }
  
  .next{
    right: 0;
  }

  .hide{
    display: none;
  }
}